/*Header*/
header {
    display: block;
    background-size: cover;
    width: 100%;
    padding-top: .2em;
    padding-bottom: .2em;
    text-align: center;
    font-family: 'DM Sans', sans-serif;;
    font-size: 1.5em;
    color: white;
    background-color: #F76902;
}
h2 {
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    color: white;
}
/*Navigation Bar*/
.topnav {
    overflow: hidden;
    position: relative;
    display: block;
    width: 100%;
    top: 0;
    z-index: 1;
    font-family: 'DM Sans';
    color: white;
    background-color: #1e1e1e;
}
/*Navigation Bar Elements*/
.topnav a {
    display: inline-block;
    padding: 0em .5em;
    padding-top:.5em;
    padding-bottom: .5em;
    text-align: center;
    text-decoration: none;
    font-size: 1.3em;
    color: white;
}

.topnav a:visited {
    color: #ffb888;
}

.topnav a:hover {
    color: #FA8128;
    background-color: #7C878E;
}

.topnav a:active {
    color: #FA8128;
    background-color: #7C878E;
}
.topnav a.icon {
    display: none;
  }

/*Body*/
body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'DM Sans';
    background-color: #555555;
}
/*General Content*/
main{
    padding-top: .5em;
    padding-bottom: .5em;
    background-color: #555555;
}
a:hover{
    color: #FA8128;
}

a:visited{
    color: #ffb888;
}
/*Indented Paragraphs*/
.indented {
    padding-left: 1em;
    padding-right: 1em;
    text-indent: 1.5em;
    text-align: left;
}
/*Centered Text*/
.centered {
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
}
/*Picture and Caption*/
figure {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    max-width: 90%;
}
figure img {
    justify-content: center;
    width: 700px;
    height: auto;
}
figcaption {
    flex: 0 0 100%;
    text-align: center;
    font-family: 'DM Sans';
}
/*Side By Side*/
.sidebyside{
    display: inline-flex;
    justify-content: center;
}
.innerdiv{
    text-align: center;
    max-width: 50%;
    padding: 3%;
}

/*Table*/
table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 2px solid black;
}

/*Responsive Area*/
/*Responsive NavBar*/
/*Hide all elements except Home*/
@media screen and (max-width: 950px){
    .sidebyside{
        display: flex;
        flex-direction: column;
        text-align: center;
        max-width: 100%;
    }
    .innerdiv{
        text-align: center;
        max-width: 500px;
    }
    figure img {
        justify-content: center;
        width: 90%;
        height: auto;
    }
}
@media screen and (max-width: 800px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
      display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
  } 
/*Responsive NavBar*/
/*Make the Menu Vertical on small screens*/
  @media screen and (max-width: 800px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
  }